.snakemake/
workflow/.snakemake/
workflow/data/fastq/
workflow/data/references/download_fastq.done
workflow/data/references/genome_fa/
workflow/data/references/gtf/
workflow/data/references/kallisto.idx
workflow/data/references/rename_fastq.done
workflow/data/references/star_index/
workflow/data/references/transcriptome.fa
workflow/data/references/tx2gene.tsv
workflow/data/references/tx2gene_all_transcripts.tsv
workflow/data/references/tx2gene_protein_coding.tsv
workflow/data/references/tx2gene_protein_coding_coco.tsv
workflow/git_repos/
workflow/logs/
workflow/Log.out
workflow/results/
workflow/scripts/split_bams_by_cond.sh
workflow/slurm-*.out
